language: node_js
node_js: lts/*

cache:
  directories:
  - node_modules

script:
- yarn install
- yarn test
- yarn lint

notifications:
  email: false

# deploy:
#   provider: gae
#   project: summer-brand-232313
#   skip_cleanup: true
#   keyfile: gae.json
#   on: development

# before_install:
# - openssl aes-256-cbc -K $encrypted_ff5f24ddbc76_key -iv $encrypted_ff5f24ddbc76_iv
#   -in sensetive.tar.enc -out sensetive.tar -d
# - tar xvf sensetive.tar
